nz-header {
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.header {
    color: #fff;
    text-align: center;
}

nz-sider {
    padding: 24px;
}

nz-content {
    padding: 0 50px;
    margin-top: 34px;
    min-height: 768px;
}
